<!DOCTYPE html>
<html>
  <head>
    <title>user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>user</h1>
    <p>userId : <%= user.userId %></p>
    <p>userPublicScore : <%= user.userPublicScore %></p>
    <p>userImage : <%= user.userImage %></p>
  </body>
</html>
